{% extends 'my_random/base.html' %}
 
{% block content %}

<!-- Contact form -->

<center>Randon string: {{result}}</center>
<div class="random-form">
 <div class="container">
  <form method="GET">
   <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h1>RANDOM TRY IT</h1>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 right">
       <div class="form-group">
         <input type="text" class="form-control form-control-lg" placeholder="length" name="length">
       </div>
       <div class="form-check">
         <input type="checkbox" name="specials">
           <label for="specials">specials</label>
       </div>
        <div class="form-check">
            <input type="checkbox" name="digits">
            <label for="digits">digits</label>
        </div>
        <input type="submit" value="Send" >
       </div>

    </div>
  </form>
 </div>
</div>
{% endblock %}